@page "/AddAdult"
@attribute [Authorize(Policy = "MustBeAdult")]
@using Models
@using Assignment1.Data
@using global::Models
@using Microsoft.AspNetCore.Components
@inject IAdultsData AdultsData
@inject NavigationManager NavMgr

<h3>Add an Adult</h3>

<EditForm Model="@newAdult" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class = "form-group"> First name:<br/>
        <InputTextArea rows="1" @bind-Value="newAdult.FirstName"/>
    </div>
    <div class = "form-group"> Last name: <br/>
        <InputTextArea rows="1" @bind-Value="newAdult.LastName">
        </InputTextArea>
    </div>
    <div class = "form-group"> Hair color: <br/>
        <InputTextArea rows="1" @bind-Value="newAdult.HairColor">
        </InputTextArea>
    </div>
    <div class = "form-group"> Eye color: <br/>
        <InputTextArea rows="1" @bind-Value="newAdult.EyeColor">
        </InputTextArea>
    </div>
    <div class = "form-group"> Age: <br/>
        <InputNumber rows="1" @bind-Value="newAdult.Age">
        </InputNumber>
    </div>
    <div class = "form-group"> Weight: <br/>
        <InputNumber rows="1" @bind-Value="newAdult.Weight">
        </InputNumber>
    </div>
    <div class = "form-group"> Height: <br/>
        <InputNumber rows="1" @bind-Value="newAdult.Height">
        </InputNumber>
    </div>
    <div class = "form-group"> Sex: <br/>
        <InputSelect class="form-control sex"
                style="width: 100px" @bind-Value="newAdult.Sex">
            <option>F</option>
            <option>M</option>
            <option>O</option>
        </InputSelect>
        
        @* <InputTextArea rows="1" @bind-Value="newAdult.Sex"> *@
        @* </InputTextArea> *@
    </div>
    <div class = "form-group"> Job title: <br/>
        <InputTextArea rows="1" @bind-Value="job.JobTitle">
        </InputTextArea>
    </div>
    <div class = "form-group"> Salary: <br/>
        <InputNumber rows="1" @bind-Value="job.Salary">
        </InputNumber>
    </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit"> Create</button>
    </p>
</EditForm>

@code {
    private Adult newAdult = new Adult();
    private Job job = new Job();

    private void AddNewAdult()
    {
        newAdult.JobTitle = job;
        AdultsData.AddAdult(newAdult);
        NavMgr.NavigateTo("/Adults");
    }

}